nav {
  background-color: #4286f4;

}

.brand {
  padding: 10px;
  width: 60px;
  display: inline-block;
}

ul{
  float: right;
  padding: 10px;
  margin-right: 10px;
}
li {
  display: inline-block;
  padding: 10px;
}

article{
  padding: 10px;
  margin: 5px;
  border: solid black 2px;
}


.sidebar-nav {
height: 100%;
width: 150px;
position: fixed;
z-index: -1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
}

.sidebar-text{
  color: white;
  padding-top: 200px;
  text-align: center;
}



.container {
  padding: 30px 20px;
}
.author {
  display: inline-block;
}

.date {
  float: right;
}

.comments {
  margin-top: 100px;
}

.comment {
  display: flex;
  padding-top: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

p {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;

}

.form {
  margin-top: 80px;
  height: auto;
}
